@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.main{
  background-color: #111;
}
@keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
.sign,.log{
  /* font-size: xx-large; */
  animation: slide-down 2s ease-in;
  font-family: 'Pacifico', cursive;
}
