*{
    margin:0
}
.player{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.heading{
    color: white;
    padding-left: 1%;
}
.rowrow >div{
    padding: 8px;
    padding-left: 20px;
    display: contents;
}
.row_posters > div{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 8px;
    padding-left: 20px;
}
.row_posters > div::-webkit-scrollbar {
    display: none;
  }
  .di{
      background-color: #111;
  }
.row_large{
    width:100%;
    max-height: 280px;
    object-fit: contain;
    /* padding-right: 1%; */
    padding-bottom: 2%;
    margin-right: 10px;
    transition: 0.3s ease-in;
}
.row_extralarge{
    width:100%;
    max-height: 280px;
    object-fit: contain;
    /* padding-right: 1%; */
    padding-bottom: 2%;
    margin-right: 10px;
    transition: 0.3s ease-in;
}
.row_poster{
    width:100%;
    max-height: 160px;
    padding-bottom: 2%;
    object-fit: contain;
    /* padding-right: 1%; */
    margin-right: 10px;
    transition: 0.3s ease-in;
}
.row_pos{
        width:100%;
        max-height: 230px;
        object-fit: contain;
        /* padding-right: 1%; */
        margin-right: 2px;
        transition: 0.3s ease-in;
}
.row_poster:hover,.row_large:hover{
    transform: scale(1.08);
}
.row_pos:hover{
    transform: scale(1.08);
}
.row_extralarge:hover{
    transform: scale(1.08);
}