*{
    margin:0
}
.player{
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 2%;
}
.heading{
    color: white;
    padding-left: 1%;
}
.row_posters > div{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}
.row_posters > div::-webkit-scrollbar {
    display: none;
  }
  .di{
      background-color: #111;
  }
.row_large{
    width:100%;
    max-height: 280px;
    object-fit: contain;
    /* padding-right: 1%; */
    margin-right: 10px;
    transition: 0.3s ease-in;
}
.row_poster{
    width:100%;
    max-height: 160px;
    object-fit: contain;
    /* padding-right: 1%; */
    margin-right: 10px;
    transition: 0.3s ease-in;
}
.row_poster:hover,.row_large:hover{
    transform: scale(1.08);
}
.nav_bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
  }
  .nav_bar div {
    width: 200px;
    height: 70px;
  }